In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
from time import sleep
from custom_module import get_tickers, parse_yf_esg
from settings import TOTALLY_NOT_A_PARSER
from tqdm import tqdm

Идеи:
1. Взять ESG с Yahoo finance

In [3]:
main_df = pd.DataFrame(columns=['Date', 'Name', 'Average stock price', 'Revenue', 'Assets', 'Glassdoor rating'])

In [4]:
main_df

Empty DataFrame
Columns: [Date, Name, Average stock price, Revenue, Assets, Glassdoor rating]
Index: []

In [9]:

for i in tqdm(range(0,7545,10)):
    esg_score = parse_yf_esg(i,i+10)
    esg

print(esg_score)

 61%|██████    | 4616/7555 [1:34:35<1:00:13,  1.23s/it]

TypeError: can only concatenate str (not "float") to str

In [15]:
df = get_tickers()

In [25]:
df[4610:4620]

4610      MYO
4611     MYPS
4612    MYPSW
4613     MYRG
4614     MYSZ
4615     MYTE
4616      NaN
4617     NAAS
4618     NABL
4619      NAC
Name: Symbol, dtype: object

In [13]:
df = pd.DataFrame(data=esg_score_1)
df

    Environment Risk Score  Social Risk Score  Governance Risk Score
0                     14.3                5.9                   14.3
1                      NaN                NaN                    NaN
2                      NaN                NaN                    NaN
3                      NaN                NaN                    NaN
4                      NaN                NaN                    NaN
5                      NaN                NaN                    NaN
6                      NaN                NaN                    NaN
7                      NaN                NaN                    NaN
8                     11.5               12.3                   11.5
9                      NaN                NaN                    NaN
10                     NaN                NaN                    NaN
11                     NaN                NaN                    NaN
12                     NaN                NaN                    NaN
13                     NaN                NaN                    NaN
14                     NaN                NaN                    NaN
15                     NaN                NaN                    NaN
16                     0.1                8.3                    0.1
17                     0.6                6.9                    0.6
18                     NaN                NaN                    NaN